<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.providerexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.providerexample.PersonListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.providerexample.PersonDetailActivity"
            android:label="@string/title_person_detail"
            android:parentActivityName=".PersonListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonListActivity" />
        </activity>

        <provider
            android:name="com.example.providerexample.database.PersonProvider"
            android:authorities="com.example.providerexample.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>